.todo-container{
    width:600px;
    margin:0 auto;
    margin-top:30px;
}
.example-full-width{
    width:100%;
}

.mat-checkbox-checked{
    text-decoration: line-through;
}
.input-task{
    width:60%;
}
.input-date{
    width:40%;
}
.select-priority{
    margin-left:20px;
}
.example-button-row{
    margin-left:20px;
}
.btn-add{
    font-size:40px;
}

.items-list{
    margin-top:5px;
}
.input-fields-todo{
    margin-bottom: 20px;
}
.items-list.low{
    background-color:#FFA500;
}
.items-list.medium{
    background-color:#FF6347;
}
.items-list.high{
    background-color:#CD5C5C;
}
.mat-checkbox1{
    color:#fff;
}
.checkbox-section{
    width:80%;
}
@media screen and (max-width: 600px) {
    .title-toolbar{
        display: none;
    }
    .todo-container{
       width:100%;
    }
  }