.todo-container{
    width:600px;
    margin:0 auto;
    margin-top:30px;
}
.example-full-width{
    width:100%;
}

.mat-checkbox-checked{
    text-decoration: line-through;
}
.input-task{
    width:60%;
}
.input-date{
    width:40%;
}
.select-priority{
    margin-left:10px;
}
.example-button-row{
    margin-left:20px;
}
.btn-add{
    font-size:40px;
}